/segundo-desafio/node_modules
/segundo-desafio/vendor
/segundo-desafio/.env.backup
/segundo-desafio/.phpunit.result.cache
/segundo-desafio/Homestead.json
/segundo-desafio/Homestead.yaml
/segundo-desafio/npm-debug.log
/segundo-desafio/yarn-error.log
