<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=divece-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio 01 - back-end mLearn!</title>
</head>
<body>

<div id="app">
    <h1>{{ titulo }}</h1>
    <label for="">Nome</label><br>
    <input type="text" name="" v-model="nome">

    <br>
    <br>
    <label for="">Telefone</label><br>
    <input type="text" name="" v-model="telefone">

    <br>
    <br>
    <label for="">Deseja receber novidades?</label><br>
    <input type="radio" name="novidades" value="Sim" v-model="novidades"> Sim
    <input type="radio" name="novidades" value="Sim" v-model="novidades"> Não

    <br>
    <br>
    <label for="">Interesses</label><br>
    <input type="checkbox" name="interesses" value="futebol" v-model="interesses"> Futebol <br>
    <input type="checkbox" name="interesses" value="formula 1" v-model="interesses"> Formula 1 <br>
    <input type="checkbox" name="interesses" value="corrida" v-model="interesses"> Corrida <br>

    <br><br>
    <label>Como nos conheceu?</label><br>
    <select name="conheceu" v-model="conheceu">
        <option value=""> Escolha</option>
        <option value="Google">Google</option>
        <option value="TV">TV</option>
        <option value="Revista">Revista</option>

    </select>

    <br><br>

    <button> Enviar </button>

    <hr>

    Nome: {{ nome }} <br>
    Telefone: {{ telefone }} <br>
    Novidades: {{ novidades }} <br>
    Interesses: {{ interesses }} <br>
    Como nos Conheceu? {{ conheceu }} <br>

</div>

<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            titulo: "Desafio 01 - back-end mLearn!",
            nome: "",
            telefone: "",
            novidades: "",
            interesses: [],
            conheceu: "",
        }
    });
</script>
</body>
</html>