:root {
    --color-primary: #007495;
    --color-secondary: #ffb001;
    /*Background body*/
    --bgBody: #F9F9F9;
    --bgGrey: #999;

    /* font  variáveis*/
    --regular: "Product Sans Regular";
    --light: "Product Sans Light Regular";
    --medium: "Product Sans Medium Regular";
    --black: "Product Sans Black Regular";
    --bold: "Product Sans Bold";

    /* cor da font */
    --fontcolor: #707070;
}

.bg-black{
    background-color: #000000!important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-grey {
    background-color: var(--bgGrey) !important;
}

html, body {
    margin: 0px;
}

body {
    font-family: var(--regular);
    overflow-x: hidden;
    background: var(--bgBody);
}

/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F9F9F9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/*Fim scrollbar*/


/* Configuração de tipos fonts*/
strong {
    font-family: var(--medium);
    font-weight: normal;
}

.strong {
    font-family: var(--medium);
    font-weight: normal;
}

.light {
    font-family: var(--light);
    font-weight: normal;
}

.medium {
    font-family: var(--medium);
    font-weight: normal;
}

.black {
    font-family: var(--black);
    font-weight: normal;
}
.disabled-input{
    pointer-events: none;
    background: #9a9a9a;
}
.strike{
    text-decoration: line-through;
}
/*Fim config fonts*/
@media screen and (max-width: 599px) {
    .btn-xs-block {
        display: block !important;
        width: 100%;
    }
}


/*Logo faculdade wpos svg*/
.primary {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.secondary {
    fill: var(--color-secondary);
    color: var(--color-secondary);
}

/* Fim Logo faculdade wpos svg*/


/*custom container width bootstrap*/
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

/*Custom btn*/
/*primary button*/
.btn-custom-primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-family: "Product Sans Light Regular";
}

.btn-custom-primary:hover {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-custom-outline-primary {
    color: var(--color-primary);
    background-color:transparent;
    border-color: var(--color-primary);
    font-family: "Product Sans Light Regular";
}

.btn-custom-outline-primary:hover {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
/* Fim primary button*/

/*Secondary Button*/
.btn-custom-secondary {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    font-family: "Product Sans Light Regular";
}

.btn-custom-secondary:hover {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
.btn-custom-outline-secondary {
    color: var(--color-secondary);
    background-color: transparent;
    border-color: var(--color-secondary);
    font-family: "Product Sans Light Regular";
}

.btn-custom-outline-secondary:hover {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
/* Fim Secondary button*/
/* Fim custom btn*/

/*utilities*/
.rounded-50 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
/*Navbar*/

#navbar-header{
    background: var(--white);
}

#navbar-header .navbar-brand img{
    height: 10vh;
}
#navbar-header .nav-link{
    font-family: var(--medium);
    text-transform: uppercase;
    font-size: .9rem;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 29px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: var(--) !important;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 32px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--color-secondary);
}

@media screen and (max-width: 599px) {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        height: 100vh;
    }

    .navbar-collapse .navbar-nav .nav-link {
        padding: 20px 10px;
    }

    @media (max-width: 768px) {
        .navbar-collapse {
            position: fixed;
            top: 66px;
            right: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;

            width: 100%;
            font-size: 16px;
            background: rgba(249, 249, 249, 1);
        }

        .navbar-collapse.collapsing {
            height: 100vh;
            -webkit-transition: right 0.3s ease;
            -o-transition: right 0.3s ease;
            -moz-transition: right 0.3s ease;
            transition: right 0.3s ease;
            right: -100%;
        }

        .navbar-collapse.show {
            right: 0;
            -webkit-transition: right 0.3s ease-in;
            -o-transition: right 0.3s ease-in;
            -moz-transition: right 0.3s ease-in;
            transition: right 0.3s ease-in;
            background: rgba(249, 249, 249, 1);
        }
    }
}

#quiz .card .card-header h1, #orgaos .card .card-header h1{
    font-size: 2rem;
    font-family: var(--black);
}
